<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Stratified Sampling Exercise

## Example

We are going to use the example we looked at in the overview. Our dataset is comprised of different heights of Moringa School students. It has 10,000 entries whereby 60% are female and 40% are Male. We are going to perform stratified sampling on this population so that we can get a sample of 1000 students which has the same proportion as the population.

**Import relevant Libraries**

In [1]:
import pandas as pd

**Load the Dataset**

Here is the dataset we are going to use in this example.[Dataset Download](https://drive.google.com/file/d/1ODcSRSs_isRKCAShFwnMrXdcphed9kYn/view?usp=sharing)

In [2]:
# Load the data into a panda dataframe
data= pd.read_csv('Gender_heights.csv')

# Check out the data
data

     gender         ht
0         F  55.398043
1         F  64.975468
2         F  70.591667
3         F  63.574479
4         F  62.535298
...     ...        ...
9995      M  91.485240
9996      M  94.842755
9997      M  98.096696
9998      M  91.478957
9999      M  88.849197

[10000 rows x 2 columns]

In [3]:
# Now we will confirm how many Female students and Male students are there in our dataset.
# To achieve this we will use pandas .value_count() method. This method outputs the number of times a value appears in a column.
data['gender'].value_counts()

F    6000
M    4000
Name: gender, dtype: int64

Now that we have confirmed that our popluation follows the correct proportion, we are going to first create a random sample of 1000 students without stratification just to see how it behaves.

In [4]:
# To create a random sample from a dataframe we use the pandas sample method. You can read more about it here.https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html
# We pass in an argument called frac which symbolises the fraction of the population we want to use as our sample

# Non stratified sample
non_strat_output = data.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(non_strat_output['gender'].value_counts())

F    611
M    389
Name: gender, dtype: int64

Run the code several times, taking note of the proportion of Female and Male. What do you notice?

When you run it several time, you'll notice that the proportion varies each time. Although it ranges closely to our desired proportion, its not quite the 60-40 proportion we want. To remedy it, this is where stratified sampling comes in handy.

Let's us create a stratified random sample and see how it behaves

In [5]:

# To create a stratified random sample we'll use pandas groupBy method. Basically what the method does is that it splits our dataset into sets and then applies a function on each subset.
# In our case, we are going to applies a function that puts each subset into a random sample with a size of 100. The beauty about this method is that it strictly maintains the populations proportion.

# Stratified sample
strat_output = data.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['gender'].value_counts())

# Check the stratified output
print(strat_output)

F    600
M    400
Name: gender, dtype: int64
     gender         ht
5163      F  65.607549
1908      F  55.783403
406       F  61.768277
3010      F  64.159212
2341      F  60.091038
...     ...        ...
9244      M  80.556220
6762      M  88.546318
8082      M  87.586912
8802      M  93.925940
9344      M  88.962717

[1000 rows x 2 columns]

## <font color="green">Challenges</font>

In [6]:
# Challenge 1
# ---
# Question: Moringa school is doing an analysis on how the students perform based on the different programmes that they offer.
# Given a dataset of 10000 students and you are told that 50% are Core students, 25% are Prep students and 25% are Pre-prep students. 
# Also in the dataset, 60% of the students are Female and the rest are Male. 
# You are tasked with creating a stratified random sample that represents that population.
# ---
# Dataset Source = https://drive.google.com/file/d/10THQj3iqund_D5tgypBdeKoc2FZ9pC0S/view?usp=sharing
# ---
# 
df = pd.read_csv('Moringa_Students_heights.csv')
#students = df.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))
output = df.groupby(['programme','gender'], group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))
output[['programme','gender']].value_counts()

programme  gender
Core       F         299
           M         201
Pre-prep   F         150
Prep       F         150
Pre-prep   M         100
Prep       M         100
dtype: int64

In [14]:
# Challenge 2
# ---
# Question: A wine company would like to perform some analysis on a variety of new red wines. 
# Select a stratified sample based on wine quality from the given dataset.
# ---
# Dataset url = http://bit.ly/RedWinesDataset
# ---
# 
wine = pd.read_csv('winequality-red.csv')
wine.groupby('quality',group_keys=False).apply(lambda x:x.sample(frac=0.1))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3
600,8.2,0.915,0.27,2.10,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4
261,7.0,0.975,0.04,2.00,0.087,12.0,67.0,0.99565,3.35,0.60,9.4,4
161,7.6,0.680,0.02,1.30,0.072,9.0,20.0,0.99650,3.17,1.08,9.2,4
18,7.4,0.590,0.08,4.40,0.086,6.0,29.0,0.99740,3.38,0.50,9.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1024,7.7,0.580,0.01,1.80,0.088,12.0,18.0,0.99568,3.32,0.56,10.5,7
283,8.9,0.400,0.32,5.60,0.087,10.0,47.0,0.99910,3.38,0.77,10.5,7
1323,9.1,0.360,0.39,1.80,0.060,21.0,55.0,0.99495,3.18,0.82,11.0,7
1269,5.5,0.490,0.03,1.80,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8
440,12.6,0.310,0.72,2.20,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8

In [17]:
# Challenge 3
# ---
# Question: You have been provided with a list of employees of a certain company with some details about their gender (male/female) 
# and their type of employment (full-time/part-time). The HR team wants to conduct a survey on the working condition 
# that will be representative of the general opinion without interviewing every employee. 
# They request you conduct stratified sampling before any analysis is done. 
# ---
# Dataset url = http://bit.ly/StratifiedEmployeeDataset
# ---
# Hint: Perform EDA first
# ---
#
employees = pd.read_csv('employees.csv')
employees

   Employee  Gender       Time Strata
0     Em001    Male  Full-time     MF
1     Em002    Male  Part-time     MP
2     Em003    Male  Full-time     MF
3     Em004  Female  Part-time     FP
4     Em005    Male  Full-time     MF
..      ...     ...        ...    ...
92    Em093    Male  Full-time     MF
93    Em094    Male  Full-time     MF
94    Em095    Male  Full-time     MF
95    Em096  Female  Part-time     FP
96    Em097  Female  Full-time     FF

[97 rows x 4 columns]